
# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build Output
/dist
/build

# Logs
*.log
*.log.*

# Environment files
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Docker files
*.dockerignore
Dockerfile
docker-compose.yml
